body {
	font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	overflow: hidden;
	/*background-color: #C5C295; OLD GOLDISH COLOR*/ 
	color: #273a40;
	background-color: #c6c7b7;
}

h1 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 60px;
	margin-bottom: 0;
}

.slide-bg {
	height: 100vh;
	width: 100vw;
	/*-webkit-transition: background-position 1s;
	-moz-transition: background-position 1s;
	transition: background-position 1s;*/
	position: absolute;
	z-index: -1;
}

#svg-container {
	width: 900px;
	margin: auto;
}

#si-cue {
	width: 300px;
	height: 75px;
	margin: auto;
}

.axis path, .axis .tick line {
	fill: none;
	/*stroke: #2c3e4a;*/
	stroke: #FFF;
}

.axis .tick > line {
	opacity: .33;
}

.axis .tick > text {
	font-size: 18px;
	font-weight: 700;
	opacity: 0;
}

.x.axis .tick > text {
	/*font-size: 24px;*/
	font-size: 18px;
	text-transform: uppercase;
	/*font-weight: 400;*/
	/*letter-spacing: 0.1em;*/
}

.axis-label {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
	/*letter-spacing: 0.1em;*/
}

.axis-label.above, .axis-label.below {
	fill: #FFF;
}

/*.barchart .x.axis .tick > line {
	display: none;
}*/

.barchart .axis .tick > line {
	opacity: 0;
}


.linegraph .x.axis path, .multilinegraph .x.axis path {
	/*stroke: none;*/
	opacity: 0;
}




/* FOR SCROLL ANIMATION */
@-webkit-keyframes scroll-ani {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

@-moz-keyframes scroll-ani {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

@keyframes scroll-ani {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}

.mouse-scroll {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7F8C8D;
	color: #333;
	font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	margin-top: 25px;
	text-decoration: none;
	overflow: hidden;
}

.mouse {
	position: relative;
	display: block;
	width: 46px;
	height: 73px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #333;
	border-radius: 23px;
}

.mouse-movement { 
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: #333;
	border-radius: 50%;
	-webkit-animation: scroll-ani 4s linear infinite;
	-moz-animation: scroll-ani 4s linear infinite;
	animation: scroll-ani 4s linear infinite;
}

.mouse-message { 
	float: left;
	margin: -200px 0 0 4px;
	padding: 0;
	margin-top: -10px;
	-webkit-transition: all 1s; 
	-moz-transition: all 1s;
	-ms-transition: all 1s; 
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 0;
	color: #333 !important;
}

.parallax-text {
	position: fixed;
	top: 100vh;
}

.parallax-text p.white-bg {
	padding: 20px 20px 25px 25px;
	margin: 0;
	/*background-color: #C5C295;*/
	/*background-color: #545d62;*/
	background-color: rgba(198, 199, 183,.9);
	/*background-color: rgba(39, 58, 64, .9);*/
	/*color: #c6c7b7;*/
	border: 1px solid #FFF;
	font-weight: 400;
	font-size: 24px;
}

.parallax-text p {
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.25em;
}

.fast {
	-webkit-transition: all 1s; 
	-moz-transition: all 1s;
	-ms-transition: all 1s; 
	-o-transition: all 1s;
	transition: all 1s;
}

.medium {
	-webkit-transition: all 1.5s; 
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s; 
	-o-transition: all 1.5s;
	transition: all 1.5s;
}

.slow {
	-webkit-transition: all 2s; 
	-moz-transition: all 2s;
	-ms-transition: all 2s; 
	-o-transition: all 2s;
	transition: all 2s;
}

/*.bar.selected {
	fill: steelblue;
}*/

.white-bg {
	/*background-color: rgba(255,255,255,.9);*/
	background-color: rgba(198, 199, 183,.9);
}

circle.highlight {
	/*stroke: dodgerblue;*/
	fill: none;
}

circle.section.selected {
	fill: #273a40;
}

circle.section {
	fill: #FFF;
	stroke: none;
}

text {
	fill: #273a40;
}

.barchart .bar {
	stroke: #273a40;
	fill: #273a40;
	fill-opacity: 0.9;
}

.barchart .complementary.bar {
	stroke: #FFF;
	fill: #FFF;
	fill-opacity: 0.9;
}

.piechart .arc > path {
	/*stroke: #2c3e4a; OLD BLUE COLOR */
	stroke: #273a40;
	fill: #273a40;
	fill-opacity: 0.9;
}

.piechart .arc > text {
	fill: #FFF;
	font-size: 18px;
}

.linegraph .line, .multilinegraph .line {
	fill: none;
	stroke: #273a40;
	stroke-width: 2px;
}

.areachart .area {
	stroke: #273a40;
	fill: #273a40;
	fill-opacity: 0.9;
}

.persona {
	fill: #FFF;
	fill-opacity: 0.9;
	stroke: #FFF;
}

/* FOR SUGGESTED INTERACTIVITY IN SVG */

#mousewheel circle, #mousewheel line {
	animation: scrollanimation 2s infinite;
}
.animation-feedback {
	animation: animationfeedback 2s linear infinite;
}

@keyframes scrollanimation {
	0% { transform: translateY(-9px); }
	75% { transform: translateY(0px); }
	100% { transform: translateY(0px); }
}


@keyframes animationfeedback {
	0% { transform-origin: 50% 50%; transform: rotate(0deg); }
	100% { transform-origin: 50% 50%; transform: rotate(360deg); }
}

.stroke {
	fill: none;
	/*stroke: #000;*/
	/*stroke: #FFF;
	stroke-width: 3px;*/
}

.fill {
	fill: transparent;
}

.graticule {
	fill: none;
	/*stroke: #777;*/
	stroke: #FFF;
	stroke-width: .5px;
	stroke-opacity: .5;
}

.land {
	fill: #222;
	fill-opacity: 0.9;
}

.boundary {
	fill: none;
	/*stroke: #fff;*/
	stroke-width: 1px;
}